# 忽略frontend目录下的所有文件
frontend/*

# 保留frontend目录下的dist文件
!frontend/dist/

# 忽略backend目录下的文件
# backend/celery_worker
backend/logs/*

# 忽略db目录下的postgres/data文件
db/postgres/data/*
db/redis/data/*


# 忽略documents目录下的所有文件
documents/*

# 忽略 python 缓存
__pycache__/
*.pyc

# 忽略环境变量
.env

# 忽略环境变量
.log

# 忽略 VSCode 配置目录
.vscode/
.devcontainer/

